// ==========================================================================
// base>base
//
// This file should contain all base elements in their standard styling
// E.g. body, h1-h6, table, a, form, input ...
//
// Note: Should NOT contain classes or ids
// ==========================================================================

html {
    box-sizing: border-box;
    font-size: $font-size-normal;
    font-family: $ff-sans-serif-1;
    color: $neutral-400;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
}

a,
a:focus,
a:visited {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    text-decoration: none;
    color: currentColor;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
figure,
p,
pre {
    margin: 0;
    font-family: $ff-sans-serif-1;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
}

[v-cloak] {
    display: none;
}