//----------------------------------------
//     Colors
//----------------------------------------
$neutral-400: #585858;

//----------------------------------------
//     Font Sizes
//----------------------------------------
$font-size-normal: 16px;

//----------------------------------------
//     Misc
//----------------------------------------

$ff-sans-serif-1: "Arial", sans-serif;