//----------------------------------------
//     Colors
//----------------------------------------
$neutral-100: #d5d5d5;
$neutral-400: #585858;
$red-100: #e53c2e;

//----------------------------------------
//     Font Sizes
//----------------------------------------
$font-size-normal: 16px;

//----------------------------------------
//     Misc
//----------------------------------------

$ff-sans-serif-1: "Arial", sans-serif;

//----------------------------------------
//     Breakpoints
//----------------------------------------

$break-sm: 384px;
$break-md: 576px;
$break-lg: 768px;