.card-info-container {
    padding: 0;
    margin-bottom: 20px;

    &__heading {
        margin: 0;
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.5em;
        color: white;
        text-transform: capitalize;
    }
}