.filter {
    &__title {
        font-weight: 600;
        margin-bottom: 1em;
    }

    &__area {
        display: flex;
        flex-direction: column;
        
        a {
            margin-top: 1em;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }
}