.grid-cell {
    flex: 1;

    &--top {
        align-self: flex-start;
    }

    &--bottom {
        align-self: flex-end;
    }

    &--center {
        align-self: center;
    }

    &--border {
        padding-bottom: 2em !important;
        border-bottom: 1px solid $neutral-100;
    }
}