.header-nav{
    display: flex;
    background-color: black;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: .9rem;
    margin-top: 1.5em;

    ul {
        display: flex;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        

        li {
            padding: 1.5em 3em;
            
            &:hover {
                background: white;
                color: black
            }
        }
    }
}