.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__main {
        display: flex;
        flex: 1 0 auto;
        flex-direction:column;
        padding: 1.5em;
    }

    &__header,
    &__footer {
        flex: none;
    }

    &__footer {
        margin-top: auto;
    }

    @media screen and (min-width: $break-lg) {
        &__main {
            flex-direction: row;
        }
    }
}