.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;

    &__main {
        display: flex;
        flex: 1 0 auto;
        flex-direction:column;
    }

    &__header,
    &__footer {
        flex: none;
    }

    &__footer {
        display: flex;
        margin-top: auto;
        background: black;
        color: white;
        font-weight: 600;
        padding: 1.5em;
        justify-content: flex-end;
    }

    @media screen and (min-width: $break-lg) {
        &__main {
            flex-direction: row;
        }
    }
}