.layout-main {
    @media (min-width: $break-sm) {
        display: flex;
        &__content {
            flex: 1;
            padding: 1em;
            margin: 0;
        }

        &__sidebar {
            flex: 0 0 20%;
            height: 100%;
        }
    }
    
    &__sidebar {
        padding: 1em;
        border-radius: 3px;
        background: rgba(147, 128, 108, 0.1);
    } 
}