.product-card {
    display: flex;
    flex-direction: column;
}

.card-image-transition {
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.35s, transform 0.35s ease-in;

    &:hover {
        opacity: 1;
        background: transparent;
        transform: scale(1.01);
    }
}

.card-image {
    transform: scale(1);
    transition: transform 0.35s ease-out;


    &:hover {
        transform: scale(1.01);
    }
}