.statistic-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    width: 100%;
    height: 50%;

    &__image {
        flex: 0 0 50%;
        background: skyblue;

        img {
            width: 75%;
        }
    }

    &__information {
        flex: 0 0 50%;
        background: pink;
        padding: 5em;
    }
    
    a {
        display: inline-block;
        position: relative;
    }
}
