.heading {
    line-height: 34px;
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
}

.list-Aboutus-info {
    margin-bottom: 50px;

    
}

.list-Aboutus-info p {
        font-size: 14px;
        font-weight: 400;
        color: #777;
        letter-spacing: 0.5px;
        line-height: 24px;
    }

.title-container {
    padding: 0;
    margin-bottom: 20px;
}

.about-btn {
    margin-top: 20px;
}


.col-lg-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-md-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}


.Aboutus-information {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.Aboutus-information a {
    display: inline-block;
    position: relative;
}

.information-container .about-btn a {
    padding: 10px 18px;
    position: relative;
    font-weight: 500;
}


.list-Aboutus-info {
    margin-bottom: 50px;
}